%h1
  = "#{@group.name} group's tasks"
%p
  = link_to 'Add task', new_group_task_path(@group), class: 'btn btn-success'

%table.table.table-striped
  %tr
    %th Name
    %th Description
    %th Creator
    %th Owner
    %th Completed
    %th Actions
  - @tasks.each do |task|
    %tr
      %td= task.name
      %td= task.description
      %td= task.creator
      %td= Membership.find(task.owner_id).user if task.owner_id
      %td= task.completed
      %td
        = link_to 'Delete', group_task_path(@group, task), method: :delete, data: {confirm: 'Are you sure?'}
%p
  = link_to 'Back', group_path(@group), class: 'btn btn-primary'
