%h1
  Invite a friend
  = link_to 'Back', friends_path, class: 'btn btn-info'

%table.table
  %thead
    %tr
      %th First name
      %th Last name
      %th Email
      %th.actions Actions
  - @not_friends.each do |friend|
    %tbody
      %tr
        %td= friend.first_name
        %td= friend.last_name
        %td= friend.email
        %td
          = link_to 'Send invitation', friends_path(receiver_id: friend.id), method: :post, class: 'btn'
