%h2 Tasks manager

%table.table
  %thead
    %tr
      %th Task
      %th Description
      %th.actions Group
      %th Status
  - @tasks.each do |task|
    %tbody
      %tr
        %td= task.name
        %td= task.description
        %td= link_to "#{task.group}", group_path(task.group), class: 'btn'
        %td= task.completed ? 'completed' : 'uncompleted'
