= simple_form_for @group do |f|
  = f.input :name
  = f.input :owner, disabled: true
  = f.association :users, collection: current_user.friends, as: :check_boxes
  = f.submit class: 'btn btn-success'
