%h1
  = @group.name
  = link_to 'Add Task', new_group_task_path(@group), class: 'btn btn-success'
  = link_to 'Back', groups_path, class: 'btn btn-info'
%p
  %b Owner:
  = @group.owner

%p
  %b Users:
  = @group.users.order(:first_name).join(', ')
%h2
  = "#{@group.name} group's tasks"
%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Creator
      %th Owner
      %th Completed
      %th.actions Actions
  - @tasks.each do |task|
    %tbody
      %tr
        %td= task.name
        %td= task.description
        %td= task.creator
        %td= task.owner if task.owner_id
        %td= task.completed
        %td
          = link_to 'Edit', edit_group_task_path(@group, task), class: 'btn'
          = link_to 'Delete', group_task_path(@group, task), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn'
