%h2
  %b= @group.name

%p
  %b Owner:
  = @group.owner

%p
  %b Users:
  = @group.users.order(:first_name).join(', ')
%p
  = link_to 'Group tasks', group_tasks_path(@group), class: 'btn btn-primary'
%p
  = link_to 'Back', groups_path, class: 'btn btn-info'
