%h1
  = @group.name
  = link_to 'Add Task', group_tasks_path(@group), class: 'btn btn-success'
  = link_to 'Back', groups_path, class: 'btn btn-info'
%p
  %b Owner:
  = @group.owner

%p
  %b Users:
  = @group.users.order(:first_name).join(', ')
%p
