!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TasksManager
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  %body
    %nav.navbar.navbar-custom
      .container-fluid
        .navbar-header
          = link_to 'TasksManager', current_user ? tasks_manager_index_path : new_user_session_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          - if current_user
            %li{class: controller?('tasks_manager') ? 'active' : ''}
              = link_to tasks_manager_index_path do
                = 'To Do'
                %span.badge#uncompleted_tasks_counter
                  = current_user.tasks.uncompleted.count
            = main_menu_link 'Friends', friends_path, controller?('friends')
            = main_menu_link 'Groups', groups_path, controller?('groups')
            %li{class: controller?('invitations') ? 'active' : ''}
              = link_to invitations_path do
                = 'Invitations'
                - if current_user.received_invitations.not_answered.count > 0
                  %span.badge
                    = current_user.received_invitations.not_answered.count
            = main_menu_link 'Dashboard', dashboard_index_path, controller?('dashboard')
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            = main_menu_link 'Sign out', destroy_user_session_path, false, method: :delete
          - else
            = main_menu_link 'Sign in', new_user_session_path, controller?('sessions')
            = main_menu_link 'Sign up', new_user_registration_path, controller?('registrations')
    .content
      - if notice
        .alert.alert-success
          = notice
      - if alert
        .alert.alert-danger
          = alert
      = yield
